<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>

<div th:replace="~{fragments/navigation :: navigation}"></div>

<main class="container py-3">
    <form th:action="@{/vacancies/update}" method="post" th:object="${vacancy}" enctype="multipart/form-data">
        <input type="hidden" name="id" th:field="*{id}"/>
        <input type="hidden" name="fileId" th:field="*{fileId}"/>
        <div class="row mb-3 text-center">
            <div class="col">
                <h1>Редактирование вакансии</h1>
            </div>
        </div>
        <div class="row mb-3" th:if="*{fileId > 0}">
            <div class="col-md-3">
                <img th:src="@{/files/{fileId}(fileId=*{fileId})}" class="w-100 img-thumbnail" th:alt="*{title}"/>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="formFile" class="form-label"><b>Фото</b></label>
                <input type="file" class="form-control" id="formFile" name="file">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="title" class="form-label"><b>Название</b></label>
                <input type="text" class="form-control" id="title"
                       th:field="*{title}"
                       placeholder="Предлагаемая должность, например: Ведущий Java разработчик">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="description" class="form-label"><b>Описание</b></label>
                <textarea class="form-control" id="description" rows="10"
                          th:field="*{description}"
                          placeholder="Опишите требования к кандидату"></textarea>
            </div>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="visible" th:field="*{visible}">
            <label for="visible" class="form-check-label">Опубликовать</label>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="city" class="form-label"><b>Город</b></label>
                <select class="form-control" id="city" th:field="*{cityId}">
                    <option th:each="city : ${cities}"
                            th:value="${city.id}" th:text="${city.name}">
                    </option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <a class="btn btn-light w-100" th:href="@{/vacancies}">Отмена</a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-danger w-100" th:href="@{/vacancies/delete/{id}(id=${vacancy.id})}">Удалить</a>
            </div>
            <div class="col-md-4">
                <button class="btn btn-success w-100" type="submit">Сохранить</button>
            </div>
        </div>
    </form>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
